<style>

.linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}
</style>

<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title">Contact Information</h3>
  	</div>
  	<div class="panel-body">
		<ul ng-if="docs.length > 0">
			<li ng-if="doc.public=='True'" ng-repeat="doc in docs">
				<print-contact arg-contact="doc" ></print-contact>
			</li>
		</ul>
          
          <div class="container">
            <div class="row">
                <div class="col-lg-5  col-xs-12 col-md-5">
                    <div class="enquiry">
                        <h3>Enquiry Form !!</h3>
                        <span>Please provide your details and we will call you!</span>
                        <form name="ajpmFormEf" novalidate="" method="POST" ng-submit="ajpmFormEf.$valid">
                           <md-input-container>
                               Enter you name
                               <input type="text" id="ajpmIdEfName" name="ajpmNameEfName" ng-model="ef.name" required/>
                               <div ng-messages="ajpmFormEf.ajpmNameEfName.$error" ng-show="ajpmFormEf.ajpmNameEfName.$dirty">
                                   <div id="ajpmIdEfNameErrorRequired" ng-message="required">Name is required</div>
                               </div>
                           </md-input-container>     
                           <md-input-container>
                               Enter you contact number
                               <input type="text" id="ajpmIdEfPhone" name="ajpmNameEfPhone" ng-model="ef.phone_number" required ng-pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$"/>
                               <div ng-messages="ajpmFormEf.ajpmNameEfPhone.$error" ng-show="ajpmFormEf.ajpmNameEfPhone.$dirty">
                                   <div id="ajpmIdEfPhoneErrorRequired" ng-message="required">Phone is required</div>
                                   <div id="ajpmIdEfPhoneErrorPattern" ng-message="pattern">Phone is invalid</div>
                               </div>
                           </md-input-container>                               
                           <md-input-container>
                               Enter you email
                               <input type="email" id="ajpmIdEfEmail" name="ajpmNameEfEmail" ng-model="ef.email" required="" />
                               <div ng-messages="ajpmFormEf.ajpmNameEfEmail.$error" ng-show="ajpmFormEf.ajpmNameEfEmail.$dirty">
                                   <div id="ajpmIdEfEmailErrorRequired" ng-message="required">Email is required</div>
                                   <div id="ajpmIdEfEmailErrorPattern" ng-message="email">Email is invalid</div>
                               </div>
                           </md-input-container>   
                           <md-input-container>
                               Type message
                               <textarea id="ajpmIdEfMessage" name="ajpmNameEfMessage" ng-model="ef.message" required="" ></textarea>
                               <div ng-messages="ajpmFormEf.ajpmNameEfMessage.$error" ng-show="ajpmFormEf.ajpmNameEfMessage.$dirty">
                                   <div id="ajpmIdEfMessageErrorRequired" ng-message="required">Message is required</div>
                               </div>
                           </md-input-container> 
                            <md-button ng-class="{linkDisabled:ajpmFormEf.$invalid}"> 
                            <a  href="mailto:jaipurinvestor@gmail.com?subject=Real Estate Enquiry&body='Name: {{ef.name}}<br />Phone: {{ef.phone}}<br />{{ef.message}}<br />Email: {{ef.email}}'">Send</a>
                            </md-button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 	 </div>
  	<div class="panel-footer"></div>
</div>