<style>

.linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}
</style>

<div class="panel panel-primary">
	<div class="panel-heading">
    	<h3 class="panel-title">Contact Information</h3>
  	</div>
  	<div class="panel-body">
		<ul ng-if="docs.length > 0">
			<li ng-if="doc.public=='True'" ng-repeat="doc in docs">
				<print-contact arg-contact="doc" ></print-contact>
			</li>
		</ul>
          
          <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5  col-xs-12 col-md-5">
                    <div class="enquiry">
                        <h1>Enquiry Form !!</h1>
                        <span>Please provide your details and we will call you!</span>
   <form 
		name="ajpmFormEf" 
		novalidate="" 
		method="POST" 
		ng-submit="ajpmFormEf.$valid" 
		layout="column"
	>
        
		<print-field 
			ng-model="ef.name"
			arg-read-tag="input"
			arg-read-tag-type="text"
			arg-title="'Your Name'"
			arg-name="'name'"
			arg-help="'Enter your full name'"
			arg-required
		></print-field>
		
		<print-field 
			ng-model="ef.phone_number"
			arg-read-tag="phone"
			arg-title="'Your Phone Number'"
			arg-name="'phone_number'"
			arg-help="'Enter your phone number starting with country code'"
			arg-required
		></print-field>

		<print-field 
			ng-model="ef.email_address"
			arg-read-tag="email"
			arg-title="'Your Email Address'"
			arg-name="'email_address'"
		></print-field>
 
		<print-field 
			ng-model="ef.message"
			arg-read-tag="textarea"
			arg-title="'Message'"
			arg-name="'message'"
			arg-required
		></print-field>
	   
	    <md-button ng-class="{linkDisabled:ajpmFormEf.$invalid}"> 
	    	<a  href="mailto:jaipurinvestor@gmail.com?subject=Real Estate Enquiry&body=Name: {{ef.name}}%0DPhone: {{ef.phone_number}}%0DEmail: {{ef.email_address}}%0d%0d{{ef.message}}">Send</a>
	    </md-button>
    </form>          
                    </div>
                </div>
            </div>
        </div>
 	 </div>
  	<div class="panel-footer"></div>
</div>