<style>
.linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}
</style>

<print-panel 
 	arg-title-one="'Our Contact Information'"
 	arg-content-one="''"
>
	<md-list ng-if="docs.length > 0">
		<md-list-item ng-repeat="doc in docs track by $index" ng-if="doc.public=='True'" >
			<print-contact arg-contact="doc" ></print-contact>
		</md-list-item>
	</md-list>
</print-panel>          

<print-panel 
 	arg-title-one="'Enquiry Form !!'"
 	arg-content-one="'Please provide your details and we will call you back!'"
>
	<form 
		name="ajpmFormEf" 
		novalidate="" 
		method="POST" 
		ng-submit="ajpmFormEf.$valid" 
		layout="column"
	>
        
		<print-field 
			ng-model="ef.name"
			arg-read-tag="input"
			arg-read-tag-type="text"
			arg-title="'Your Name'"
			arg-name="'name'"
			arg-help="'Enter your full name'"
			arg-required
		></print-field>
		
		<print-field 
			ng-model="ef.phone_number"
			arg-read-tag="phone"
			arg-title="'Your Phone Number'"
			arg-name="'phone_number'"
			arg-help="'Enter your phone number starting with country code'"
			arg-required
		></print-field>

		<print-field 
			ng-model="ef.email_address"
			arg-read-tag="email"
			arg-title="'Your Email Address'"
			arg-name="'email_address'"
		></print-field>
 
		<print-field 
			ng-model="ef.message"
			arg-read-tag="textarea"
			arg-title="'Message'"
			arg-name="'message'"
			arg-required
		></print-field>
	   
	    <md-button ng-class="{linkDisabled:ajpmFormEf.$invalid}"> 
	    	<a  href="mailto:jaipurinvestor@gmail.com?subject=Real Estate Enquiry&body=Name: {{ef.name}}%0DPhone: {{ef.phone_number}}%0DEmail: {{ef.email_address}}%0d%0d{{ef.message}}">Send</a>
	    </md-button>
	    
    </form>
              
</print-panel>