<print-panel 
 	arg-title-one="'Forgot Password'"
 	arg-content-one="'Please provide email address to reset password'"
>
<form method="post" ng-controller="ForgotController" name="form_forget_pass">
		<md-input-container>
    		<label>Email Address</label>
    		<input aria-label="Email Address" type="email" id="id_email" name="name_email" ng-model="email_address" required />
    		<div ng-messages="form_forget_pass.name_email.$error" ng-show="form_login_s1.name_email.$dirty">
      			<div id="id_email_error_required" ng-message="required">Email address is required</div>
      			<div id="id_email_error_pattern" ng-message="email">Email address is invalid</div>
    		</div>
  		</md-input-container>
  		<md-button aria-label="Reset" class="md-raised md-warn" ng-click="reset()">Reset</md-button>
  		<md-button aria-label="Submit" class="md-raised md-primary" ng-click="forget()">Submit</md-button>
</form>
</print-panel>