<print-panel 
 	arg-title-one="doc.title + ' Activity'"
 	arg-content-one="'Please prform following steps'"
>
    <form name="activityForm" ng-submit="update(activityForm.$valid)">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab ng-repeat="step in doc.step" label="{{step.name}}">
          	<p>{{ step.about }}</p>
			<md-input-container ng-repeat="f in step.field" layout="column">
				<section>
				<label 
					for="{{ fields[f.name].name }}Id" 
					id="{{ fields[f.name].name }}LabelId"
				>{{ step.name + ' ' + fields[f.name].name }}</label>
				<input 
					id="{{ step.name + fields[f.name].name }}Id"
					aria-label="{{ step.name + fields[f.name].name }}"
					ng-model="f.name" 
					type="text" 
					name="{{ step.name + fields[f.name].name + 'Name' }}"
					required
				/>
				<div 
					ng-messages="activityForm[step.name + fields[f.name].name + 'Name']['$error']" 
					ng-show="activityForm[step.name + fields[f.name].name + 'Name']['$dirty']"
				>
				    <div 
				    	id="{{ step.name + fields[f.name].name }}ErrorRequiredId" 
				    	ng-message="required"
				    >Field value is required</div>
				    <div 
				    	id="{{ step.name + fields[f.name].name }}ErrorEmailId" 
				    	ng-message="email"
				    >Email is invalid</div>
				    <div 
				    	id="{{ step.name + fields[f.name].name }}ErrorPatternId" 
				    	ng-message="pattern"
				    >Format is not correct</div>
				</div>
				</section>				
			</md-input-container>
      </md-tab>
	</md-tabs>
	<input type="submit" ng-disabled="activityForm.$invalid"/>
	</form>
</print-panel>