<div ng-repeat="c in doc.component">

	<div ng-if="c.type == 'Image Slider'">
		<print-image-slider 
			arg-slider-image-records="doc.slider_image"
		></print-image-slider>
 	</div>
 	
	<div ng-if="c.type == 'Learn More'">
		<div>
			{{ orgRecord.statement }} <button class="button" ui-sref="about_us">Learn More</button>
		</div>
		
	</div>
	
	<div ng-if="c.type == 'Paragraph'">
		<div ng-repeat="para in doc.paragraph">
			<div class="panel panel-primary">
				<div class="panel-heading">
			    	<h3 class="panel-title">{{para.title}}</h3>
			  	</div>
			  	<div class="panel-body">
			   	 <div ng-bind-html="para.content  | showAsHtml"></div>
			 	 </div>
			  	<div class="panel-footer"></div>
			</div>
		</div>
	</div>
		
	<div ng-if="c.type == 'Three Media Boxes'" ng-class="container-fluid">
		<div ng-repeat="mb in doc.media_box" ng-class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="panel panel-primary" style="text-align:center; height:500px;">
				<div class="panel-heading">
			    	<h3 class="panel-title">{{mb.title}}</h3>
			  	</div>
			  	<div class="panel-body">
				 	<div style="
				 		background-image: url({{mb.image_file_name}}); 
				 		background-size: contain;
				 		background-repeat: no-repeat;
				 		background-position: center;
				 		height:150px; 
				 	"></div>
				 	<hr />
				 	{{mb.content}}
				 	<hr />
				 	<button  class="btn btn-primary" aria-label="{{mb.link_name}}">
	         			<a href="{{mb.link_url}}">{{mb.link_name}}</a>
					</button>
			 	</div>
			 </div>
			 </div>
		</div>
	</div>
	
</div><!-- ng-repeat="c in doc.component" -->

<div class="container-fluid">
<div ng-if="doc.what_is_next.length > 0" ng-class="row" >
	<div ng-repeat="link in doc.what_is_next">
		<div class="col-xs-6 col-sm-4 col-md-2">
		<button class="btn btn-default" aria-label="{{link.title}}">
         	<a href="{{link.url}}">{{link.title}}</a>
		</button>
		</div>
	</div>
</div>
</div>