
<div ng-repeat="c in doc.component">

	<div ng-if="c.type == 'Image Slider'">
		<link href="layout/web/ji.owebp.com/cssslider_files/csss_engine1/style.css" rel="stylesheet">
		<!--[if IE]><link rel="stylesheet" href="layout/web/ji.owebp.com/cssslider_files/csss_engine1/ie.css"><![endif]-->
		<!--[if lte IE 9]><script type="text/javascript" src="layout/web/ji.owebp.com/cssslider_files/csss_engine1/ie.js"></script><![endif]-->
		 <div class="csslider1 autoplay ">
		<input name="cs_anchor1" class="cs_anchor slide" id="cs_slide1_0" type="radio">
		<input name="cs_anchor1" class="cs_anchor slide" id="cs_slide1_1" type="radio">
		<input name="cs_anchor1" class="cs_anchor slide" id="cs_slide1_2" type="radio">
		<input name="cs_anchor1" class="cs_anchor" id="cs_play1" type="radio" checked="">
		<input name="cs_anchor1" class="cs_anchor pause" id="cs_pause1_0" type="radio">
		<input name="cs_anchor1" class="cs_anchor pause" id="cs_pause1_1" type="radio">
		<input name="cs_anchor1" class="cs_anchor pause" id="cs_pause1_2" type="radio">
		<ul>
			<li class="cs_skeleton"><img style="width: 100%;" src="layout/web/ji.owebp.com/cssslider_files/csss_images1/slide1.jpg"></li>
			<li class="num0 img slide"> <img title="" alt="" src="layout/web/ji.owebp.com/cssslider_files/csss_images1/slide1.jpg"></li>
			<li class="num1 img slide"> <img title="" alt="" src="layout/web/ji.owebp.com/cssslider_files/csss_images1/slide2.jpg"></li>
			<li class="num2 img slide"> <img title="" alt="" src="layout/web/ji.owebp.com/cssslider_files/csss_images1/slide3.jpg"></li>
		</ul>
		<div class="cs_description">
			<label class="num0"></label>
			<label class="num1"></label>
			<label class="num2"></label>
		</div>
		<div class="cs_play_pause">
			<label class="cs_play" for="cs_play1"><span><i></i><b></b></span></label>
			<label class="cs_pause num0" for="cs_pause1_0"><span><i></i><b></b></span></label>
			<label class="cs_pause num1" for="cs_pause1_1"><span><i></i><b></b></span></label>
			<label class="cs_pause num2" for="cs_pause1_2"><span><i></i><b></b></span></label>
			</div>
		<div class="cs_arrowprev">
			<label class="num0" for="cs_slide1_0"><span><i></i><b></b></span></label>
			<label class="num1" for="cs_slide1_1"><span><i></i><b></b></span></label>
			<label class="num2" for="cs_slide1_2"><span><i></i><b></b></span></label>
		</div>
		<div class="cs_arrownext">
			<label class="num0" for="cs_slide1_0"><span><i></i><b></b></span></label>
			<label class="num1" for="cs_slide1_1"><span><i></i><b></b></span></label>
			<label class="num2" for="cs_slide1_2"><span><i></i><b></b></span></label>
		</div>
		<div class="cs_bullets">
			<label class="num0" for="cs_slide1_0"> <span class="cs_point"></span>
				<span class="cs_thumb"><img title="" alt="" src="layout/web/ji.owebp.com/cssslider_files/csss_tooltips1/slide1.jpg"></span></label>
			<label class="num1" for="cs_slide1_1"> <span class="cs_point"></span>
				<span class="cs_thumb"><img title="" alt="" src="layout/web/ji.owebp.com/cssslider_files/csss_tooltips1/slide2.jpg"></span></label>
			<label class="num2" for="cs_slide1_2"> <span class="cs_point"></span>
				<span class="cs_thumb"><img title="" alt="" src="layout/web/ji.owebp.com/cssslider_files/csss_tooltips1/slide3.jpg"></span></label>
		</div>
		</div>
	</div>
	<div ng-if="c.type == 'Learn More'">
		<div>
			{{os}} <button class="button" ui-sref="about_us">Learn More</button>
		</div>
		
	</div>
	
	<div ng-if="c.type == 'Paragraph'">
		<div ng-repeat="para in doc.paragraph">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">{{para.title}}</h3>
			  	</div>
			  	<div class="panel-body">
			   	 <div ng-bind-html="para.content  | showAsHtml"></div>
			 	 </div>
			  	<div class="panel-footer"></div>
			</div>
		</div>
	</div>
		
	<div ng-if="c.type == 'Three Media Boxes'" layout-gt-sm="row" layout-sm="column" layout-xs="column">
		<div flex ng-repeat="mb in doc.media_box">
			<div class="panel panel-default">
				<div class="panel-heading">
			    	<h3 class="panel-title">{{mb.title}}</h3>
			  	</div>
			  	<div class="panel-body">

			 	<div style="
			 		background-image: url({{mb.image_file_name}}); 
			 		background-size: contain; 
			 		height:150px; 
			 	"></div>
			 	{{mb.content}}
			 	<button  class="btn" aria-label="{{mb.link_name}}">
         			<a href="{{mb.link_url}}">{{mb.link_name}}</a>
				</button>
			 </div>
			 </div>
		</div>
	</div>
	
</div><!-- ng-repeat="c in doc.component" -->

<div ng-if="doc.what_is_next.length > 0" layout="row" >
	<div flex ng-repeat="link in doc.what_is_next">
		<button class="btn" aria-label="{{link.title}}">
         	<a href="{{link.url}}">{{link.title}}</a>
		</button>
	</div>
</div>
