<div ng-repeat="c in doc.component">

	<div ng-if="c.type == 'Image Slider'">
		<print-image-slider 
			arg-slider-image-records="doc.slider_image"
		></print-image-slider>
 	</div>

	<div ng-if="c.type == 'Learn More'">
		<div>
			{{os}} <button class="button" ui-sref="about_us">Learn More</button>
		</div>
	</div>
	
	<div ng-if="c.type == 'Paragraph'">
		<div ng-repeat="para in doc.paragraph">
			<print-panel 
			 	arg-title_one="para.title" 
			 	arg-content-one="para.content" 
			 ></print-panel>
		</div>
	</div>
	
	<div ng-if="c.type == 'Three Media Boxes'" layout="row" layout-gt-sm="row" layout-sm="column" layout-xs="column">
		<div flex ng-repeat="mb in doc.media_box">
			<print-panel arg-title_one="mb.title">
				<div style="text-align:center; height:500px;">
			 	<div style="
			 		background-image: url({{mb.image_file_name}});
			 		background-repeat: no-repeat;
			 		background-size: contain;
			 		 background-position: center;
			 		height:150px; 
			 	"></div>
			 	<hr />
			 	{{mb.content}}
			 	<hr />
			 	<md-button  class="md-primary md-raised" aria-label="{{mb.link_name}}">
         			<a href="{{mb.link_url}}">{{mb.link_name}}</a>
				</md-button>
				</div>
			 </print-panel>
		</div>
	</div>
		
</div>

<div ng-if="doc.what_is_next.length > 0" layout="row" >
	<div flex  ng-repeat="link in doc.what_is_next">
		<md-button  class="md-primary md-raised" aria-label="{{link.title}}">
         	<a href="{{link.url}}">{{link.title}}</a>
		</md-button>
	</div>
</div>
