
<div ng-repeat="c in doc.component">

	<div ng-if="c.type == 'Image Slider' && doc.slider_image.length > 0"">
		<div ng-init="currentSliderImage=0">
			<div ng-repeat="imgRec in doc.slider_image ">
				<div ng-show="currentSliderImage==$index" 
					class="ajpmCaruselBox"
					style="background-image: url('{{imgRec.file_name}}');">
					<a href="{{imgRec.click_link_url}}"><div class="ajpmCaruselCaption">
						{{imgRec.caption}}
					</div></a> 	
				</div>
			</div>
			<md-button class="md-primary md-raised" 
				ng-click="currentSliderImage=decreaseCounter(currentSliderImage,0,1)"
			>Previuos</md-button>	
			<md-button class="md-primary md-raised" 
				ng-click="currentSliderImage=increaseCounter(currentSliderImage,doc.slider_image.length-1,1)" 
			>Next</md-button>	
		</div>
 	</div>

	<div ng-if="c.type == 'Learn More'">
		<div>
			{{os}} <button class="button" ui-sref="about_us">Learn More</button>
		</div>
	</div>
	
	<div ng-if="c.type == 'Paragraph'">
		<div ng-repeat="para in doc.paragraph">
			<md-toolbar><div class="md-toolbar-tools">
			      <h2 class="md-flex">{{para.title}}</h2>
    			</div></md-toolbar>
			<md-content flex layout-padding>
				<div ng-bind-html="para.content  | showAsHtml"></div>
			</md-content>
		</div>
	</div>
</div>

<div ng-if="doc.what_is_next.length > 0">
	<div class="md-toolbar-tools" ng-repeat="link in doc.what_is_next">
		<md-button class="md-primary md-raised" aria-label="{{link.title}}">
         	<a href="{{link.url}}">{{link.title}}</a>
		</md-button>
	</div>
</div>
