/* To align in center */
body {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

/* ng-show and ng-hide animations */

.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
    height:400px;
    margin: 0 auto;
}

.carousel li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

/* common classes */
.jpmPadded {
  line-height: 24px;
  opacity: 1;
  padding: 5px;
}

.jpmSmallFitWidth {
	display: inline;
}

.jpmTitle {
	align: center;
}

/* support: IE7 */
*+html #toolbar {
	display: inline;
}
