<div class="page-header">
  <h1>{{doc.type}} <small>Area {{doc.area}} {{doc.area_unit}}</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Contact Information</div>
  <div class="panel-body">
	<div ng-repeat="c in contacts track by $index">
		<print-contact c=c ></print-contact>
	</div>
  </div>
</div>

<md-content>
	<div ng-repeat="price in doc.price">
		<b>Price {{price.type}} {{price.amount}} {{price.currency}} for {{price.per}} {{price.per_unit}}</b>
	</div>

	<ul>
        <li ng-repeat="room in doc.room">
		{{room.count}} {{room.type}},  
		<span ng-if="room.area != ''">{{room.area}} {{room.area_unit}}</span>
		<ul>
	        <li ng-repeat="feature in room.accessory">
			{{feature.count}} {{feature.type}}
        	</li>
		</ul>
        </li>
	</ul>
	
</md-content>
{{doc}}
