 <print-panel 
 	arg-title-one="doc.type"
 	arg-content-one="'Area ' + doc.area + ' ' + doc.area_unit"
 >
<div ng-repeat="price in doc.price">
	<b>Price {{price.type}} {{price.amount}} {{price.currency}} for {{price.per}} {{price.per_unit}}</b>
</div>
<br />

<div layout="row">
  <div flex>
  	<print-image-slider arg-slider-image-records="doc.photo"></print-image-slider>
  </div>


	<div flex layout="column" layout-padding>
		<div flex>
			<div ng-repeat="o in owners" >
				Owner: <print-person arg-person="o.data" ></print-person>
			</div>
		</div>
		
	  	<div flex>
	  		<div ng-repeat="c in contacts" >
				Contact: <print-contact arg-contact="c.data" ></print-contact>
			</div>
	  	</div>
	  	
	  	<div flex>
			<ul>
	        <li ng-repeat="room in doc.room">
			{{room.count}} {{room.type}},  
			<span ng-if="room.area != ''">{{room.area}} {{room.area_unit}}</span>
			<ul>
		        <li ng-repeat="feature in room.accessory">
					{{feature.count}} {{feature.type}}
	        	</li>
			</ul>
	        </li>
			</ul>   
	  	</div>
	</div>
</div>




<div ng-if="doc.site_plan.length > 0" class="panel panel-default">
	<print-panel arg-title-one="Site Plans">
		<print-image-slider arg-slider-image-records="doc.site_plan"></print-image-slider>
	</print-panel>
</div>

</print-panel>