	<input 
    	aria-label="{{paramName}}"
    	id="{{paramName}}Id"
    	name="{{paramName}}"
    	type="{{paramReadTagType}}"
    	size="{{paramReadTagSize}}"
    	
    	ng-model="paramNgModel"
    	ng-required="paramRequired"
    	ng-maxlength="paramMaxLength"
    	ng-minlength="paramMinLength"
    	ng-pattern="paramPattern" 
	/>
	
	<span ng-include="'/modules/form/print_' + paramReadTag + '_field.html'"></span>
	
	<md-icon aria-label="{{paramRightIcon}}" ng-if="paramRightIcon">{{paramRightIcon}}</md-icon>