<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Our Catalog</h3>
  	</div>
  	<div class="panel-body">
		<div class="list-group">
	        <div class="list-group-item" ng-repeat="doc in docs track by $index">
			<h1>{{ doc.category }}</h1>
			<div class="container-fluid"><div class="row">

			<div ng-repeat="p in doc.photo" class="col-xs-12 col-sm-6 col-md-2">
				<div style="height: 100px; 
					background-image: url('{{p.file_name}}');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: left;"
				></div>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-10">
				<div>{{ getCategoryTitle(doc.parent_category.$id) }}</div>
				<div ng-bind-html="doc.summary  | showAsHtml"></div>
			</div>
			</div></div>

			<div class="container-fluid"><div class="row">
			<div ng-repeat="pns in doc.pas track by $index" class="col-xs-12 col-sm-6 col-md-2">
				<button class="btn btn-default" aria-label="{{getItemTitle(pns.pas_id.$id)}}">
				<a ng-show="pns.live == 'Live'" href="/#/item/{{ pns.pas_id.$id }}">
					{{ getItemTitle(pns.pas_id.$id) }}
				</a>
				</button>
			</div>
			</div></div>
	        </div>
		</div>
 	 </div>
  	<div class="panel-footer"></div>
</div>
