 <print-panel 
 	arg-title-one="'Our Catalog'"
 	arg-content-one="'Categories for our product and services'" 
 >
	<md-list>
        <md-list-item class="md-3-line" ng-repeat="doc in docs  | orderBy: 'sequence'" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3 flex>{{ doc.category }}</h3>
		<div flex layout="row">
			<div flex="15" ng-repeat="p in doc.photo" class="col-xs-12 col-sm-6 col-md-2">
				<div style="height: 100px; 
					background-image: url('{{p.file_name}}');
					background-repeat: no-repeat;
					background-size: contain;
					background-position: left;"
				></div>
			</div>
			<div flex>
			<h4>{{ getCategoryTitle(doc.parent_category.$id) }}</h4>
			<div ng-bind-html="doc.summary  | showAsHtml"></div>
			</div>
		</div>

            <div flex><md-button ng-repeat="pns in doc.pas track by $index">
            	<a  href="/#/item/{{ pns.pas_id.$id }}">{{ getItemTitle(pns.pas_id.$id) }}</a>
            </md-button></div>
          </div>
          <md-divider></md-divider>
        </md-list-item>
	</md-list>
</print-panel>
