<table ng-controller="searchController" width="100%">
<tr>
 <td style="text-align:center;">
  <input type="text" ng-model="searchQuery">
  <button ng-click="search('assets')">Search</button>
  </td>
</tr>
<tr ng-if="resultNotFound">
 <td style="text-align:center;" colspan="2">Result Not Found! Please try again with more specific query.</td>
</tr>
<tr ng-if="resultFound">
  <td colspan="2">
   <div ng-repeat="i in varResponse" style="border-bottom:1px solid #222222;width:100%;padding-top:10px;padding-bottom:10px;">
       <table width="100%" style="text-align:left;">
        <tr><td style="float:left; display:inline-block;">Location :&nbsp;</td><td style="float:left;text-align:left;">{{i["Contact"]["City"] | capitalize}}</td></tr>
        <tr><td style="float:left; display:inline-block;">Type :&nbsp;</td><td style="float:left;text-align:left;">{{i["Type"] | capitalize}}</td></tr>
        <tr><td style="float:left;display:inline-block;">Area :&nbsp;</td><td style="float:left;text-align:left;">{{i["Area"]}} {{i["Area Unit"]}}</td></tr>
        <tr><td style="float:left;display:inline-block;">Accessories :&nbsp;</td><td style="float:left;text-align:left;">{{i["Accessory"] | capitalize}}</td></tr>
       </table>
   </div>
  <td>
</tr>
</table>
