<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Searching <b>{{searchPattern}}</b></h2>
    </div>
</md-toolbar>
<md-content>
	<ul>
        <li ng-repeat="sa in response.data.searchAreas">{{(sa.split('_')).join(' ')}}
		<ul>
    		<div ng-repeat="doc in response.data.result">
			<li ng-if="doc['collection_name'] == 'web_page' && doc['collection_name'] == sa">
		                <b><span><a ui-sref="web_page({ webPageId: '{{doc._id.$id}}' })">{{doc.title}}</a></span></b>:
               			 <span ng-repeat="p in doc.paragraph">{{p.content | stripHTML | cutText:true:50:' ... '}}</span>
			</li>
			<li ng-if="doc['collection_name'] == 'real_estate_asset' && doc['collection_name'] == sa">
		                <b><span><a ui-sref="real_estate_asset({ realEstateAssetId: '{{doc._id.$id}}' })">{{doc.type}}</a></span></b>:
               			Area {{doc.area }} {{doc.area_unit}}, Parts {{doc.room.length}}
			</li>
            <li ng-if="doc['collection_name'] == 'item' && doc['collection_name'] == sa && orgId == doc['for_org']['$id']">
                    <b><span><a ui-sref="item({ itemId: '{{doc._id.$id}}' })">{{doc.title}}</a></span></b>:
                    {{doc.summary | stripHTML | cutText:true:50:' ... '}}
            </li>
		</div>
		</ul>
        </li>
	</ul>
</md-content>
