<print-panel 
 	arg-title-one="'Forgot Password'"
 	arg-content-one="'Please provide email address to reset password'"
>
        <form name="form_forgot_password" 
                novalidate 
                ng-controller="ForgotController" 
                method="POST" 
                ng-submit="form_forgot_password.$valid && sendNewPassword()"
        >
                <print-field 
                        ng-model="credential.email_address"
                        arg-read-tag="email"
                        arg-title="'Your Login Email Address'"
                        arg-name="'email_address'"
                        arg-required
                ></print-field>

                <print-field 
                        ng-model="submit"
                        arg-read-tag="button"
                        arg-read-tag-type="'submit'"
                        arg-title="'Send Me New Password'"
                        arg-name="'submit_email_address_for_new_password'"
                        arg-class="'md-raised md-primary'"
                ></print-field>

                <hr />

                <md-button aria-label="Reset" class="md-raised md-warn" ng-click="reset()">Reset</md-button>
                <md-button aria-label="Join" class="md-raised md-primary" ng-click="register()">Join</md-button>
                <md-button aria-label="Login" class="md-raised md-primary" ng-click="login()">Login</md-button>

        </form>
</print-panel>
