<print-panel 
        arg-title-one="'Sign up with us'"
        arg-content-one="'Please provide email address  and password to join at our website.'"
>
        <form name="form_join" 
                novalidate 
                method="POST" 
                ng-submit="form_join.$valid && addUser()"
        >
                <print-field 
                        ng-model="credential.name"
                        arg-read-tag="input"
                        arg-title="'Name'"
                        arg-name="'name'"
                        arg-required
                ></print-field>

                <print-field 
                        ng-model="credential.email_address"
                        arg-read-tag="email"
                        arg-title="'Login Email Address'"
                        arg-name="'email_address'"
                        arg-required
                ></print-field>

                <print-field 
                        ng-model="credential.password"
                        arg-read-tag="input"
                        arg-read-tag-type="'password'"
                        arg-title="'Password'"
                        arg-name="'password'"
                        arg-required
                ></print-field>

                <print-field 
                        ng-model="submit"
                        arg-read-tag="button"
                        arg-read-tag-type="'submit'"
                        arg-title="'Register Me'"
                        arg-name="'submit_register'"
                        arg-class="'md-raised md-primary'"
                ></print-field>

                <hr />

                <md-button aria-label="Reset" class="md-raised md-warn" ng-click="reset()">Reset</md-button>
                <md-button aria-label="Login" class="md-raised md-primary" ng-click="login()">Login</md-button>
                <md-button aria-label="Forgot Password" class="md-raised md-primary" ng-click="forgotPassword()">Forget Password</md-button>

        </form>
</print-panel>
