<print-panel 
 	arg-title-one="'Login Email'"
 	arg-content-one="'Please provide email address to login'"
>
	<form name="form_login_s1" 
		novalidate 
		ng-controller="LoginController" 
		method="POST" 
		ng-submit="form_login_s1.$valid && submit_s1()"
	>

		<print-field 
			ng-model="credential.email_address"
			arg-read-tag="email"
			arg-title="'Your Login Email Address'"
			arg-name="'email_address'"
			arg-required
		></print-field>

		<print-field 
			ng-model="submit"
			arg-read-tag="button"
			arg-read-tag-type="'submit'"
			arg-title="'Next'"
			arg-name="'submit_email_address'"
			arg-class="'md-raised md-primary'"
		></print-field>
				
		<hr />

                <md-button aria-label="Reset" class="md-raised md-warn" ng-click="reset()">Reset</md-button>
                <md-button aria-label="Join" class="md-raised md-primary" ng-click="register()">Join</md-button>
                <md-button aria-label="Forgot Password" class="md-raised md-primary" ng-click="forget_password()">Forgot Password</md-button>

	</form>
</print-panel>
