
<div class="panel panel-default">
	<div class="panel-heading">
    	<h3 class="panel-title">{{ doc.type }} {{ doc.title }}</h3>
  	</div>
  	<div class="panel-body">
			<h2>{{ doc.title }}</h2>
			<h3> By {{ manufacturarName }}</h3>
			<p>{{ doc.summary }}</p>
			
			<print-image-slider arg-slider-image-records="doc.photo"></print-image-slider>
			
			<p ng-show="doc.pre_requisites != ''"><h3>Pre Requisites</h3>{{ doc.pre_requisites }}</p>
			
			<hr />
			
	          <div ng-repeat="abt in doc.about">
	          		<h3>{{ abt.category }}</h3>
	          		<p>{{ abt.about_category }}</p>
	          		<ul><li ng-repeat="atr in abt.attribute">
	          			<b>{{ atr.name }}</b>: {{ atr.value }}{{ atr.unit }}
	          			<br />
	          			<span ng-bind-html="atr.summary |showAsHtml"></span>
	          		</li></ul>
	          </div>
          
          	<hr />
          	
          	<ul><li ng-repeat="pr in doc.price">
      			<span ng-show="pr.type=='Quote'">Call us for quote</span>
      			<span ng-hide="pr.type=='Quote'">{{ pr.type }} {{ pr.amount }} {{ pr.currency }} {{ pr.per }} {{ pr.per_unit }}</span>
      		</li></ul>
      		
      		<hr />
      		
      		<h3>Service Time</h3>
      		<ul><li ng-repeat="sh in doc.service_hours">
      			Every {{ sh.every }} {{ sh.frequency }} from {{ sh.start_date }} {{ sh.start_time }} for {{ sh.duration }} {{ sh.duration_unit }}
      		</li></ul> 	
          			        
 	 </div>
  	<div class="panel-footer"></div>
</div>
