<md-content>
	 <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span>{{ doc.type }} {{ doc.title }}</span>
      </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom>
      
      <md-tab label="Item">
        <md-content class="md-padding">
			<h2>{{ doc.title }}</h2>
			<h3> By {{ manufacturarName }}</h3>
			<p><div ng-bind-html="doc.summary |showAsHtml"></div></p>
			
			<div ng-init="currentPhoto=0">
				<div ng-repeat="imgRec in doc.photo ">
					<div ng-show="currentPhoto==$index" 
						class="ajpmCaruselBox"
						style="background-image: url('{{imgRec.file_name}}');">
						<a href="{{imgRec.click_link_url}}"><div class="ajpmCaruselCaption">
							{{imgRec.caption}}
						</div></a> 	
					</div>
				</div>
				<md-button class="md-primary md-raised" 
					ng-click="currentPhoto=decreaseCounter(currentPhoto,0,1)"
				>Previuos</md-button>	
				<md-button class="md-primary md-raised" 
					ng-click="currentPhoto=increaseCounter(currentPhoto,doc.photo.length-1,1)" 
				>Next</md-button>	
			</div>
			<p ng-show="doc.pre_requisites.length != 0"><h3>Pre Requisites</h3>
				<ul>
					<li ng-repeat="pr in doc.pre_requisites">
						<span ng-show="pr.mandatory=='True'">MANDATORY! </span>{{ pr.condition }}
					</li>
					
				</ul>
			</p>
        </md-content>
      </md-tab>

      
      <md-tab label="About">
        <md-content class="md-padding">
          <div ng-repeat="abt in doc.about">
          		<h3>{{ abt.category }}</h3>
          		<p>{{ abt.about_category }}</p>
          		<ul><li ng-repeat="atr in abt.attribute">
          			<b>{{ atr.name }}</b>: {{ atr.value }}{{ atr.unit }}
          			<br />
          			<span ng-bind-html="atr.summary |showAsHtml"></span>
          		</li></ul>
          </div>
       </md-content>
      </md-tab>
      
      <md-tab label="Price">
        <md-content class="md-padding">
          	<ul><li ng-repeat="pr in doc.price">
      			<span ng-show="pr.type=='Quote'">Call us for quote</span>
      			<span ng-hide="pr.type=='Quote'">{{ pr.type }} {{ pr.amount }} {{ pr.currency }} {{ pr.per }} {{ pr.per_unit }}</span>
      		</li></ul>
      	</md-content>
      </md-tab>
      
	  <md-tab ng-show="doc.service_hours" label="Time">
	  	 <md-content class="md-padding">
	  	 	<h3>Service Time</h3>
      		<ul><li ng-repeat="sh in doc.service_hours">
      			Every {{ sh.every }} {{ sh.frequency }} from {{ sh.start_date }} {{ sh.start_time }} for {{ sh.duration }} {{ sh.duration_unit }}
      		</li></ul> 	  	 
	  	 </md-content>
	  </md-tab>      
    </md-tabs>
</md-content>
