
<md-content>
	 <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span>{{ doc.type }} {{ doc.title }}</span>
      </div>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom>
      
      <md-tab ng-if="doc.type == 'Service'" label="Service">
        <md-content class="md-padding">
          <h2>{{ doc.title }}</h2>
          <h2> By {{ manufacturarName }}</h2>
          <div ng-repeat="p in doc.photo">
			<div ng-show="currentPhoto==$index" style="width:150px">
          		<img alt="{{p.caption}}" ng-src="{{p.file_name}}" />
			</div>
          </div>
		<md-button ng-click="currentPhoto=currentPhoto-1" >Previuos</md-button>	
		<md-button ng-click="currentPhoto=currentPhoto+1" >Next</md-button>{{currentPhoto}}	
          <p>{{ doc.summary }}</p>
        </md-content>
      </md-tab>
      
      <md-tab label="About">
        <md-content class="md-padding">
          <div ng-repeat="abt in doc.about">
          		<h3>{{ abt.category }}</h3>
          		<p>{{ abt.about_category }}</p>
          		<ul><li ng-repeat="atr in abt.attribute">
          			<b>{{ atr.name }}</b>: {{ atr.value }}{{ atr.unit }}<br />{{atr.summary}}
          		</li></ul>
          </div>
       </md-content>
      </md-tab>
      
      <md-tab label="Price">
        <md-content class="md-padding">
      		<ul><li ng-repeat="pr in doc.price">
      			{{ pr.type }} {{pr.amount }} {{pr.currency }} {{pr.per }} {{pr.per_unit }}
      		</li></ul> 
      	</md-content>
      </md-tab>
      
    </md-tabs>
</md-content>
